<div class="container">
<h1>New Pin</h1>
</br>
    <%= render 'form' %>

    <div class="form-group">
    </br>
    </br>    
    <%= link_to 'Back', pins_path, class: "btn btn-default" %>
    </div>
</div>