<div class="jumbotron"> 
    <div class="container">
        <h1> Welcome To My App</h1>
        <p1> It's gonna kick ass. </p1>
        </br>
        </br>
        <%= link_to "About Us", home_about_path, class: "btn btn-default" %>
        <%= link_to "Home", root_path, class: "btn btn-primary" %>
    </div>
</div>